.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

nav * {
  margin:9px;
}